.banner{
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50vh 50vh;
}

.logo{
    font-size: 10rem;
    color: var(--silver);
}

.logoHighlight{
    color: var(--turq);
}

.searchContainer{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}




.searchBarContainer form{
    height: 2rem;
    display: flex;
    justify-content: center;
}




.functionContainer{
    width: 80%;
    height: 100vh;
    background-color: var(--dark);
    border-radius: 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containers{
    width: 45%;
    height: 90%;
    background-color: var(--silver);
    border-radius: 2rem;
}

.songContainer{
    list-style: none;
}
